{% extends 'base.html' %}
{% load staticfiles %}
{% block page_head %}
    <link href="{% static 'bigday/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="layer"></div>
    <div class="container" id="main">
        <h2>Hi {{ party.name }}! Thanks for your response!</h2>
        {% if party.any_guests_attending %}
            <p>
                We can't wait to celebrate with you by Lake Crescent!
            </p>
            <p>
                If you've got a minute, you can help us out by filling in a <a href="https://goo.gl/forms/dBJIJRXvT1RCZNKa2">super quick survey</a> that will help us account for allergies and plan for the most fun and smooth event possible.
                If you have any other questions, don't hesitate to email us at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
            </p>
        {% else %}
            <p>
                We're sorry you won't be able to join us in Olympic National Park.
            </p>
            <p>
                We look forward to catching up with you some other time!
            </p>
        {% endif %}
        <p>
            - John and Kari
        </p>
    </div>
{% endblock %}
