<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Where to Stay</h2>
            <hr class="primary">
            <h3>Option A (Choose this one!)</h3>
            <p>
                NatureBridge is a working educational camp during the week, which means there are a variety of cabins
                right at the wedding site! We can fit all of you in and we want you all right next to us the whole
                time! They are very rustic - think true summer camp. The cabins have twin size bunk beds with camp
                mattresses and most rooms have one double bed. They sleep 2-6. <b>Linens and towels will be provided.</b>
                Many cabins share communal bathrooms (which have multiple private showers and stalls). All cabins
                have electricity and most have heat / AC. Basically - it's glamping. It's glamourous camping. But it's
                FREE for you!
            </p>
            <p>
                If you'd like to stay in the cabins (do it do it) please reserve your spot on the RSVP page. Be sure
                to include your roommate requests and then relax - it's gonna be a little awkward and scary just like
                camp used to be on the first day. But the good news is this is a wedding so there will be alcohol.
            </p>
            <hr class="primary">
            <h3>Option B (also totes chill)</h3>
            <p>
                For those of you who prefer or require more traditional accommodations we've gathered a few B&B and
                Hotel options. We're not quite at the high season for Olympic National Park yet, but please do plan
                in advance as things tend to book quickly. These are the best options currently available, all
                within a 20-30 minute drive away.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Lake Crescent Lodge</th>
                    <td>
                        <a href="https://www.olympicnationalparks.com/lodging/lake-crescent-lodge/">Lake Crescent
                            Lodge</a> is conveniently located walking distance from NatureBridge, just next door.
                    </td>
                </tr>
                <tr>
                    <th>Olympic Lodge</th>
                    <td>
                        <a href="https://www.olympiclodge.com">Olympic Lodge</a> is a nice hotel located in Port Angeles,
                        about 20-30 minutes from the venue.
                    </td>
                </tr>
                <tr>
                    <th>National Chains</th>
                    <td>
                        There are also national chains like
                        <a href="https://www.redlion.com/red-lion-hotel/wa/port-angeles">Red Lion</a>
                        in downtown Port Angeles.
                    </td>
                </tr>
                <tr>
                    <th>Bed and Breakfasts in Town</th>
                    <td>
                        There are a large number of smaller hotels and B&B's in and around downtown Port Angeles.
                        Some that stood out during our searches were <a href="https://www.seasuns.com">Five Seasuns
                        Bed & Breakfast</a>, <a href="https://www.ahiddenhaven.com">A Hidden Haven Forest Cottages</a>,
                            and <a href="http://www.roosterhillshortstay.com">Rooster Hill Short Stay</a>.
                            </td>
                        </tr>
                    </table>
                    <p>These are the closest and cutest, but there are additional accommodations available, especially if you
                        don't mind a bit of a longer commute to NatureBridge. You can also find a selection of private homes available
                        for rent on <a href="https://www.airbnb.com">AirBnb</a> or <a href="https://www.vrbo.com">VRBO</a>.</p>
                    </hr>
                </div>
            </div>
    </div>