<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">To Bring or Not to Bring</h2>
            <hr class="primary">
            <h3>Attire & Other Things to Bring</h3>
            <ul>
                <li>We're in the forest and you may want to hike / swim / catch pokemon / etc. Plan for the
                activities you want to partake in</li>
                <li>PACKING: We're hoping for good weather, but the charm of Washington is that you never
                know what you'll get! (I write this as it's 50 degrees and sunny in January. Again, HI polar
                vortex friends!) Let's all figure out a way to pray for good weather but then also plan and
                pack for inclement weather (something something about the boy scout motto). Also, even if
                it's warm during the day, it will be chilly in the mornings / at night, so please bring a jacket!
                Fire pits can only do so much.</li>
                <li>The CEREMONY itself will be outdoors and on grass, just a short walk from NatureBridge.
                Wear something comfortable that makes you feel beautiful. Aim for summer-cocktail-party
                but please don't stress yourself out.</li>
                <li>Bring your kids! Bring your kids' friends! It's a camp so the more kids the better!
                We'll have a movie set up in the science room on Saturday Night.</li>
                <li>ACCOMMODATIONS: The cabins will come with a pillow and linens, including a towel for the
                shower. They're also heated, but you might be happy to have an extra pillow or blanket! We'll bring
                some from home, but might not have enough for all you fine folks. Also, bring any toiletries
                you may need.</li>
                <li>LOCAL? Please bring camping chairs for around the fire, and any lawn game supplies you have.</li>
            </ul>
            <hr class="primary">
            <h3>Other Info & What Not to Do</h3>
            <ul>
                <li>Unfortunately, no pets can stay overnight on the premises.</li>
                <li>NO CANDLES in the cabins or anywhere not set up by a professional & smoking is ONLY
                in designated areas. Please don't burn down our wedding venue.</li>
                <li>WiFi is in the main building only and is intermittent. Cell service can be found if you
                hold your phone high enough. <i>John's brother Luke is almost as tall as John and has been
                    volunteered to aid in this task for our height-challenged friends.</i></li>
                <li>Please have bunks cleared by 10am (and then join us at Rosemary Hall for brunch!)</li>
                <li>We can stay on site until early afternoon, but should plan to head out by 1pm.</li>
            </ul>
        </div>
    </div>
</div>
