<section id="schedule" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday, May 31</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>3pm</dt>
                    <dd>
                        Overnight guests start arriving at NatureBridge to settle in.
                    </dd>
                    <dt>7pm</dt>
                    <dd>WELCOME DINNER at Rosemary Hall (on campus). <i>Everyone's invited!</i></dd>
                    <p><i>Please note that mealtimes are fixed! If you'll be late or won't be making a planned
                    meal, please give us a heads up. Super convenient alternatives are limited, but Port Angeles
                    (you'll drive through it on your way to the camp) is a great town with a variety
                    of options.</i></p>
                    <dt>To follow</dt>
                    <dd>S'mores, music, board games, relaxing (aka plz hang out with us we want to see all
                    of you)</dd>
                    <!--
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Oast House Brewers<br>
                            <a href="https://goo.gl/maps/rDqRZ4uzpGq">2017 Niagara Stone Rd, Niagara-on-the-Lake,
                                ON L0S 1J0, Canada</a><br>
                            Phone: +1 905-262-8463
                        </address>
                    </dd>
                    -->
                </dl>
            </div>
        </div>
    </div>
<!--
</section>
<section id="saturday-event" class="bg-info">
-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday, June 1</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>9am</dt>
                    <dd>Breakfast for ALL at NatureBridge (yes, even if you're not staying on-site!)</dd>
                    <dt>LUNCH</dt>
                    <dd>A build-your-own bagged lunch station will be set up during breakfast. Pack up and go for
                    a hike, canoe, short walk to a nearby bench.... whatever you please!</dd>
                    <dt>AFTERNOON</dt>
                    <dd>
                        This is free time! See <a class="page-scroll" href="#activities">below</a> for what we
                        have planned and what we recommend!
                        <!--
                        <address>
                            Nature Bridge<br>
                            <a href="https://goo.gl/izFqLA">111 Barnes Point Rd. Port Angeles, WA 98363</a><br>
                            Phone: 360-928-3720
                        </address>
                        -->
                    </dd>
                    <dt>5:00pm</dt>
                    <dd>Gather at Rosemary Hall for a short walk to a meadow for the CEREMONY!</dd>
                    <p align = center><i>Drinks, Dinner, & Reception to follow.</i></p>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>10am</dt>
                    <dd>Goodbye brunch! Everyone's invited! Bunks need to be cleared by 10am, but bags can be stashed
                    at Rosemary Hall.</dd>
                    <dt>1:00pm</dt>
                    <dd>NatureBridge DEPARTURES!</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="activities" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">To Do / Choose Your Own Adventure</h2>
                <hr class="primary">
                <ul>
                    <li>Guided GIANT CANOE Trip: NatureBridge's expert counselors will lead two canoe trips
                    around Lake Crescent on SATURDAY</li>
                        <ul>
                            <li>Times & Details TBD</li>
                        </ul>
                    <li>LAWN GAMES, MUSIC, & SNACKS on Rosemary Field!</li>
                    <li>Take a chilly dip at the picturesque SWIMMING spot.</li>
                        <ul>
                            <li>It's a 2 minute walk down the "Moments in Time Trail," starting down by the dock.</li>
                            <li><i>Please note that swimming off the dock is not permitted!</i></li>
                        </ul>
                    <li>Take a beautiful HIKE!</li>
                        <ul>
                            <li>Moments in Time Loop: <i>1/4 mile, with interpretive signs along the way. Flat
                            & easy.</i></li>
                            <li>Marymere Falls: <i>1.5 miles roundtrip. Relatively flat, with stairs to the
                            falls. Scenic & easy.</i></li>
                            <li>Mount Storm King: <i>5 miles roundrip, with a 2000 ft elevation gain & view of
                            the lake. Challenging.</i></li>
                        </ul>
                    <li>Sol Duc HOT SPRINGS</li>
                        <ul>
                            <li>Natural hot springs about 40 minutes away from NatureBridge Camp.</li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
