{% load staticfiles %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
        <p>
            We are blessed to have everything we need -- except your company at our wedding! Please consider spreading
            the love by donating to a charity of your choice if you feel so moved. If you need a little inspiration,
            some causes close to our hearts are listed below.
        </p>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/aclu.png' %}" class="img-responsive" alt="" style="padding-top: 60px;">
                    <h3>The ACLU</h3>
                    <p>
                        <a href="https://www.aclu-wa.org">The ACLU of Washington</a> is the Washington State affiliate
                        of the ACLU, which is focused on defending the civil rights of all Americans. We believe that
                        everyone deserves to have their basic rights preserved and protected, and the ACLU is a
                        champion of those who would otherwise be taken advantage of.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/planned-parenthood.png' %}" class="img-responsive" alt="">
                    <h3>Planned Parenthood</h3>
                    <p>
                        <a href="https://www.plannedparenthood.org/planned-parenthood-great-northwest-hawaiian-islands">Planned Parenthood</a>
                        focuses on preventive health care, informing members of the communities they serve to empower
                        people to make educated choices about their own health. We feel strongly that all people deserve
                        equal access to affordable health care, and also support Planned Parenthood's mission to
                        promote women's rights.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/seattle-childrens.jpg' %}" class="img-responsive" alt="">
                    <h3>Seattle Children's Uncompensated Care Fund</h3>
                    <p>
                        Seattle Children's provides necessary medical care to all children in the region, regardless of
                        a family's ability to pay. The <a href="https://giveto.seattlechildrens.org/give">Uncompensated Care Fund</a>
                        bridges the gap between the cost of care and what a family can afford. Our good friend, Grace,
                        is a resident Audiologist at Seattle Children's and can vouch for the impact that affordable
                        care has for the families served.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/seattle-humane.png' %}" class="img-responsive" alt="">
                    <h3>Seattle Humane Society</h3>
                    <p>
                        The <a href="https://secure3.convio.net/shs/site/Donation2?df_id=4443&mfc_pref=T&4443.donation=form1">Seattle Humane Society</a>
                        is where we were first introduced to our fur child, Haines. We're especially fond of the
                        "Sammie's Fund - Older Animals" gift designation, since Haines was 10 when we got him and every
                        elderly animal deserves a loving home.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/WTA.jpg' %}" class="img-responsive" alt="">
                    <h3>Washington Trails Association</h3>
                    <p>
                        Hiking has played a big role in our relationship (it was our first date!), and the
                        <a href="https://www.wta.org/get-involved/join/donatenow">Washington Trails Association</a>
                        has been a phenomenal resource for trail maintenance, descriptions, and recent conditions.
                        Funding enables the WTA to continue to clear downed trees after storms and fight to keep
                        Washington's natural areas accessible to everyone.
                    </p>
                </div>
            </div>

        </div>
</div>
