<header id="second-header" class="secondary"></header>

<section id="proposal">
    <div class="container">
        <div>
            <h2 class="section-heading text-center">The Proposal</h2>
                <hr class="primary">
                <p>
                    John proposed on a hike to Tamawanas Falls at the base of Mt Hood on a road trip back from spending
                    Christmas in the Bay Area. When we got to the falls, there was another proposal being set up, replete
                    with twinkle lights, a wooden arch, and rose petals scattered on the ground. Not wanting to crash
                    someone else's well-laid plans, John thought "soft pass" and waited until he and Kari were almost
                    back at the car before he pulled her down on the banks of a creek near the trail head and popped
                    the question. As they say, the rest is history.
                </p>
        </div>
    </div>
</section>
