<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                John and Kari met 5 years ago on a casual scroll through Grindr (just kidding it was Coffee Meets Bagel).
                Their first date lasted for 8 hours - 3 hours of hiking through Discovery Park (worth a stop if you
                have extra time in town), 2 hours of brunch at Voula's Offshore Cafe (thanks to Guy Fieri for the rec),
                and then 3 more hours of relaxing at GasWorks Park in Fremont (most famous for being the set of the
                paintball fight in the movie 10 Things I Hate About You).
            </p>
            <p>
                Since then, their relationship can be summed up as follows:
                <ul>
                    <li>Travel: they've been to 5 countries on 2 continents (hoping to add a 3rd with the honeymoon),
                    a couple islands, and many many domestic trips</li>
                    <li>Hiking: a couple volcanoes, a few waterfalls, some showshoeing, a dabble of alpine lakes</li>
                    <li>Doggo: After going dog sledding in Fairbanks, AK, their dog fever was kicked into high gear
                    and they ended up adopting their lovable (to a select few) asshole (as he is more commonly known),
                    Haines, 1 month later</li>
                    <li>House: They bought their first (and perhaps only, depending on the Seattle housing market)
                    home together in 2017. If you want to see it, please plan antoher trip to visit! Just be sure to
                    give some advance notice so that they can make arrangements for the dog (see the note about his
                    temperament, above)</li>
                </ul>
            </p>
        </div>
    </div>
</div>
